@media screen and (max-width: 1200px) {
  .container {
    width: 968px !important;
  }
  .russia {
    margin-right: 260px !important;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 720px !important;
  }
  .header-body {
    display: block !important;
    text-align: center;
  }
  .menu__item {
    margin: 0 auto;
  }
  .menu__item:first-child {
    margin-left: 20px !important;
  }
  .russia {
    margin-right: 0 !important;
    margin-top: 20px;
  }
  .data-menu a {
    margin-left: 0 !important;
  }
  .data-menu a:first-child {
    margin-right: 80px;
  }
  .data-menu a:last-child {
    margin-left: 80px !important;
  }
  .data-menu {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 540px !important;
  }
  .order-container {
    width: 90% !important;
  }
  .visible-service p,
  .link-visible p,
  .service-down p,
  .drop-down p {
    line-height: 1.5em;
  }
  .description-block p {
    line-height: 1.5em;
  }
  .menu,
  .data-menu,
  .russia {
    display: none !important;
  }
  .header {
    padding: 35px 0 !important;
  }
  content {
    opacity: 1 !important;
  }
  .preloader p {
    top: 70% !important;
  }
}
